extends common/layout 

block content
  main
   section.three-steps
    .steps-header
      span.stepts-header-text How Dreamshare works?
    .three-steps-img
      .step-one
        .step
          span.step-text STEP 1
        .step-one-header
          span.step-one-header-text Sed leo enim, condimentum
        .step-one-title
          span.step-one-title-text
            | Quisque libero libero, dictum non turpis in, luctus semper
            | lorem. Donec rhoncus a leo sit amet facilisis.
      .step-two
        .step-two-logo
          span.step-text STEP 2
        .step-two-header
          span.step-one-header-text Morbi velit risus
        .step-two-title
          span.step-one-title-text
            | Nulla venenatis tempor dui in molestie. Nulla quis dictum
            | purus, sit amet porttitor est.
      .step-three
        .step
          span.step-text STEP 3
        .step-one-header
          span.step-one-header-text Sed leo enim, condimentum
        .step-one-title
          span.step-one-title-text
            | Quisque libero libero, dictum non turpis in, luctus semper
            | lorem. Donec rhoncus a leo sit amet facilisis.
  section.partners
    .steps-header
      span.stepts-header-text Meet a partner for your best holiday
    .partners-img
      div
        img(src='../images/Avatar4.png', alt='')
        .bradley
          span.partners-name Bradley Hunter
        .bradley-title
          span.partnets-title Based in Chicago. I love playing tennis and loud music.
      .marie-img
        img(src='../images/Avatar2.png', alt='')
        .marie
          span.partners-name Marie Bennett
        .marie-title
          span.partnets-title
            | Currently living in Colorado. Lover of art, languages and
            | travelling.
      .diana-img
        img(src='../images/Avatar.png', alt='')
        .diana
          span.partners-name Diana Wells
        .diana-title
          span.partnets-title
            | Living in Athens, Greece. I love black and white classics, chillout
            | music and green tea.
      .christopher-img
        img(src='../images/Avatar3.png', alt='')
        .christopher
          span.partners-name Christopher Pierce
        .christopher-title
          span.partnets-title
            | Star Wars fanatic. I have a persistent enthusiasm to create new
            | things.
    .other-partners
      span.other-partners-text See other partners
  section.images
    .steps-header
      span.stepts-header-text Discover holiday activity ideas
    .first-img
      .sport
        span.sport-text Sports and Activis
      .wellnes
        span.wellnes-text Wellness and Health
      .extreme
        span.extreme-text
          | Extreme Sports
          | and Expeditions
    .second-img
      .games
        span.games-text Games
      .culture
        span.culture-text Culture and Education
    .third-img
      .enjomet
        span.enjomet-text Enjomet and Relaxation
      .trevelling
        span.trevelling-text Trevelling
  section.create
    .create-header Crate your holiday activity
    .create-title Hi! What are your holiday interests?
    .create-form
      .create-form-enter
        span.create-form-enter-text Enter your insterests
      .create-form-search
        span.create-form-search-text Search partners