.footer-line
footer
  .footer-logo DREAMSHARE
  .footer-company
    .footer-company-text Company
    .footer-company-menu
      span.footer-company-menu-link About
      span.footer-company-menu-link Contact
      span.footer-company-menu-link Press
      span.footer-company-menu-link Blog
      span.footer-company-menu-link Terms and Privacy
      span.footer-company-menu-link Help
  .footer-partners Partners
  div
    .footer-designer DESIGNED BY
    .footer-designer-name
