header
  .header-logo DREAMSHARE
  .log Log in
  .sign
    span.sign-text Sign up
  .header-name
    | SHARE YOUR
    | HOLIDAY DREAM
  .header-name-title And find the perfect partner to fullfill it
  .header-name-link
    span.header-name-link-text Find your holiday partner
